.button {
  padding: 1rem 2rem;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: #fff;
    background-color: teal;
  }
}
