.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  height: 48px;
  padding: 0 2rem;

  background-color: rgb(228, 228, 228);

  border-radius: 2rem;

  .title {
    font-size: 16px;
    text-transform: capitalize;
  }

  .text {
    line-height: 150%;
    text-align: justify;
  }

  .actions {
    display: flex;
    gap: 1rem;

    button {
      width: 24px;
      height: 24px;
    }
  }
}
